aiohttp
asynctest
docker
mypy
pre-commit
pyOpenSSL
pylint
pytest
pytest_asyncio
pytest-cov
pytest-rerunfailures
pytest-xdist
ruff
setuptools
tox
tox-uv
treq
types-docker
types-setuptools
uv
virtualenv
wheel